<html>

<head>
	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Dragon Boat</title>
	<link rel="stylesheet" href="./style/css/all.css" />
</head>

<body>
	<div id="app" class="wrap">
		<header class="header">
			<div class="container">
				<div class="logo"><img src="./images/Monster_Logo.png" alt=""></div>
				<button :class="['nav_btn',showNavBtn?'on':'']" @click="navBtn">
					<span class="nav_btn_span"></span>
				</button>
				<div class="nav">
					<router-link class="nav_item" to="/">首頁</router-link>
					<router-link class="nav_item" to="/about">關於我們</router-link>
					<router-link class="nav_item" to="/news">最新消息</router-link>
					<router-link class="nav_item" to="/history">歷年得獎紀錄</router-link>
					<router-link class="nav_item" to="/appiontment">預約體驗</router-link>
					<router-link class="nav_item" to="/cooperate">合作洽談</router-link>
					<router-link class="nav_item" to="/moment">精彩時刻</router-link>
				</div>
			</div>
		</header>
		<router-view></router-view>
		<footer class="footer">
			<div class="container">
				<div class="footer_info">
					<div class="logo_footer">
						<img src="./images/Monster_Logo_footer.png" alt="">
					</div>
					<div class="footer_info_txt">
						<button class="btn_ig">
							<span>instagram</span>
						</button>
						<p>
							我們的隊伍成立於2022年，致力於推廣龍舟文化和團隊精神。
							我們的隊伍由一群充滿熱情的社會人士組成，無論你是龍舟運動
							的初學者還是有經驗的選手，我們都誠摯地歡迎志同道合的你加
							入我們的行列。
						</p>
					</div>
				</div>
				<div class="footer_nav">
					<div class="left">
						<router-link class="footer_nav_item" to="/">首頁</router-link>
						<router-link class="footer_nav_item" to="/about">關於我們</router-link>
						<router-link class="footer_nav_item" to="/news">最新消息</router-link>
						<router-link class="footer_nav_item" to="/history">歷年得獎紀錄</router-link>
					</div>
					<div class="right">
						<router-link class="footer_nav_item" to="/appiontment">預約體驗</router-link>
						<router-link class="footer_nav_item" to="/cooperate">合作洽談</router-link>
						<router-link class="footer_nav_item" to="/moment">精彩時刻</router-link>
					</div>
				</div>
			</div>
			<div class="copyright">Copyright © Lucky Wave All Rights Reserved</div>
		</footer>
		<!-- <header v-if="showHeader" :class="['header',isTagFilter?'tagFitler':'']" v-if="!isTagFilter">
			<img src="./images/header.jpg" alt="" class="header_bg">
			<ul class="navTab" v-if="!isTagFilter">
				<li class="navTab_item">我的行程</li>
				<li class="navTab_item">探索靈感</li>
				<li class="navTab_item on">去趣論壇</li>
			</ul>
			<label class="searchInp" v-if="!isTagFilter">
				<i class="searchInp_icon"></i>
				<input type="text" placeholder="文章搜尋" v-model="inpFilter" @keyup="inpFilterHandler"
					@change="inpFilterHandler">
			</label>

			<div class="tagTitle" v-if="isTagFilter">
				<button class="icon_back" @click="tagBack"></button>
				<span :data-count="showCount"># {{tagTitle}}</span>
			</div>
		</header>
		<div v-if="showPageTab" class="pageTab">
			<router-link class="pageTab_item" to="/discuss">行程健檢討論區</router-link>
			<router-link class="pageTab_item" to="/">探索靈感討論區</router-link>
			<router-link class="pageTab_item" to="/explore">自由討論區</router-link>
		</div>
		<div :class="['content',nowPage,showLeftNav?'show_leftNav':'']">
			<div v-if="showContentHead" class="content_head">
				<i class="icon_hash" @click="leftNavHanler" v-if="!isTagFilter"></i>
				<button :class="['content_head_btn',isHot?'on':'']" @click="changeHot(true)">熱門</button>
				<button :class="['content_head_btn',isHot?'':'on']" @click="changeHot(false)">最新</button>
			</div>
			<router-view></router-view>
			<left-nav @close-leftnav="closeLeftNav" @nav-handler="rNav"></left-nav>
		</div>
		<footer v-if="showFooter" class="footer">
			<img src="./images/footer.jpg" alt="">
		</footer>
		<div v-if="showCretaeFooter" class="create_footer">
			<img src="./images/create_footer.jpg" alt="">
		</div>
		<button v-if="showIconAdd" class="icon_add" @click="createHandler"></button> -->
	</div>
	<script src="https://unpkg.com/vue@latest"></script>
	<script src="./js/libs/vue3-sfc-loader.js"></script>
	<script src="./js/libs/vue-router_4_3_2.js"></script>
	<script src="./js/libs/vuex_3_0_1.js"></script>
	<script src="./store/store.js"></script>
	<script src="./js/icon_all.js"></script>
	<script>
		const options={
			moduleCache: {
				vue: Vue
			},
			async getFile(url) {
				const res=await fetch(url);
				if (!res.ok)
					throw Object.assign(new Error(res.statusText+' '+url), { res });
				return {
					getContentData: asBinary => asBinary? res.arrayBuffer():res.text(),
				}
			},
			addStyle(textContent) {
				const style=Object.assign(document.createElement('style'), { textContent });
				const ref=document.head.getElementsByTagName('style')[0]||null;
				document.head.insertBefore(style, ref);
			},
		}
		const { loadModule }=window['vue3-sfc-loader'];
		const routes=[
			{ path: '/', component: () => loadModule('./page/home.vue', options), },
			{ path: '/about', component: () => loadModule('./page/about.vue', options), },
			{ path: '/news', component: () => loadModule('./page/news.vue', options), },
			{ path: '/history', component: () => loadModule('./page/history.vue', options), },
			{ path: '/appiontment', component: () => loadModule('./page/appiontment.vue', options), },
			{ path: '/cooperate', component: () => loadModule('./page/cooperate.vue', options), },
			{ path: '/moment', component: () => loadModule('./page/moment.vue', options), },
		];
		const router=VueRouter.createRouter({
			history: VueRouter.createWebHistory('#'),
			routes
		})

		const app=Vue.createApp({
			data() {
				return {
					nowPage: "",
					showNavBtn: false
					// icon_all: icon_all,
				};
			},
			components: {
				// 'left-nav': Vue.defineAsyncComponent(() => loadModule('./components/LeftNav.vue', options))
			},
			mounted() {
			},
			computed: {
				showCount() {
					return this.$store.state.showCount;
				},

			},
			watch: {
				// $route(to, from) {
				// 	var now=this.$route.path;
				// 	if (now=="/") {
				// 		this.nowPage="schedule";
				// 	} else {
				// 		this.nowPage=now.split("/")[1];
				// 	}
				// },
			},
			methods: {
				navBtn() {
					this.showNavBtn=!this.showNavBtn
				}
			},
		});
		app.use(router);
		app.use(store);
		app.mount('#app');

	</script>
</body>

</html>