// juc 預設值 flex-start 、 align-items 預設值 stretch
@mixin d_f($flex, $jc: flex-start, $ai: stretch) {
	display: $flex;
	justify-content: $jc;
	align-items: $ai;
}

@mixin hoverHandler {

	@media (pointer: fine) and (max-resolution: 2dppx),
	screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
	(-moz-touch-enabled: 0) {
		&:hover {
			@content;
		}
	}

	&:active {
		@content;
	}
}

@mixin hv {

	@media (pointer: fine) and (max-resolution: 2dppx),
	screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
	(-moz-touch-enabled: 0) {
		&:hover {
			@content;
		}
	}
}

@mixin ac {
	&:active {
		@content;
	}
}

// @extend %hand;
//@extend %transition;
%hand {
	cursor: pointer;
}

%transition {
	transition-duration: 0.3s;
}

// RWD相關
$breakpoints: (
	XXL: 1440px,
	XL: 1280px,
	L: 1023px,
	M: 995px,
	S: 767px,
	XS: 599px,
	XXS: 360px
);

@mixin mw($size) {
	@media screen and (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}