.nav_btn {
  cursor: pointer;
}

.nav {
  transition-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Sans TC", "Arial", sans-serif;
  line-height: 1;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: #000000;
}

html.ph,
body.ph {
  overflow: hidden;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}
.header {
  height: 115px;
  background-color: rgb(18, 18, 28);
}
@media screen and (max-width: 1023px) {
  .header {
    height: 50px;
  }
}

.logo {
  width: 96px;
}
@media screen and (max-width: 1023px) {
  .logo {
    width: 42px;
  }
}
.logo_footer {
  flex: none;
  position: relative;
  width: 155px;
  margin-right: 45px;
}
@media screen and (max-width: 1280px) {
  .logo_footer {
    margin-right: 20px;
  }
}

.nav {
  display: flex;
  justify-content: none;
  align-items: center;
  height: 50px;
}
@media screen and (max-width: 1023px) {
  .nav {
    position: fixed;
    top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 60px;
    background-color: rgb(18, 18, 28);
    transform: translateX(-100%);
  }
}
.nav_item {
  position: relative;
  display: flex;
  justify-content: none;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1023px) {
  .nav_item {
    height: 28px;
    padding: 0 10px;
  }
}
.nav_item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 3px);
  display: none;
  width: 1px;
  height: 34px;
  margin: auto;
  background-color: rgb(241, 210, 41);
}
@media screen and (max-width: 1023px) {
  .nav_item:after {
    z-index: -1;
    top: 14px;
    width: 100%;
    height: 11px;
    transform: skew(-45deg);
    background-color: rgb(183, 141, 35);
  }
}
.nav_item + .nav_item {
  margin-left: 38px;
}
@media screen and (max-width: 1023px) {
  .nav_item + .nav_item {
    margin-top: 30px;
    margin-left: 0;
  }
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .nav_item:hover {
    color: rgb(241, 210, 41);
  }
  .nav_item:hover:after {
    display: block;
  }
}
.nav_item:active {
  color: rgb(241, 210, 41);
}
.nav_item:active:after {
  display: block;
}
.nav_item.router-link-active {
  color: rgb(241, 210, 41);
}
.nav_item.router-link-active:after {
  display: block;
}
.nav_btn {
  position: relative;
  display: none;
  width: 20px;
  height: 17px;
}
@media screen and (max-width: 1023px) {
  .nav_btn {
    display: block;
  }
}
.nav_btn_span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 16px;
  background-color: rgb(241, 210, 41);
}
.nav_btn_span::before, .nav_btn_span:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  margin: auto;
  border-radius: 16px;
  background-color: rgb(241, 210, 41);
}
.nav_btn_span::before {
  top: 0;
}
.nav_btn_span::after {
  bottom: 0;
}
.nav_btn.on .nav_btn_span {
  background-color: rgba(241, 210, 41, 0);
}
.nav_btn.on .nav_btn_span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.nav_btn.on .nav_btn_span::after {
  top: 0;
  transform: rotate(-45deg);
}
.nav_btn.on + .nav {
  transform: translateX(0);
}
.nav_btn.on + .nav .router-link-active {
  color: #ffffff;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .nav_btn.on + .nav .nav_item:hover {
    color: #fff;
  }
}
.nav_btn.on + .nav .nav_item:active {
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 15px;
}
.header .container {
  height: 100%;
}
.footer .container {
  padding: 60px 0;
}

.footer {
  position: relative;
}
.footer::before, .footer:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: calc(100% - 74px);
  position: none;
}
.footer::before {
  left: 0;
  width: 70%;
  background: url("../../images/footer_bgl.svg") no-repeat center right/cover;
}
.footer:after {
  right: 0;
  width: 40%;
  background: url("../../images/footer_bgr.svg") no-repeat center left/cover;
}
.footer_info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 60%;
}
.footer_info_txt {
  color: #fff;
}
.footer_info_txt p {
  max-width: 602px;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (max-width: 1440px) {
  .footer_info_txt p {
    max-width: 90%;
  }
}
@media screen and (max-width: 1280px) {
  .footer_info_txt p {
    max-width: 85%;
  }
}
.footer_nav {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 18%;
}
.footer_nav_item {
  display: flex;
  justify-content: none;
  align-items: center;
  height: 25px;
  color: rgb(0, 0, 0);
}
.footer_nav_item + .footer_nav_item {
  margin-top: 28px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74px;
  color: rgb(169, 169, 169);
  font-size: 16px;
}

.btn_ig {
  display: flex;
  justify-content: none;
  align-items: center;
  height: 31px;
  font-size: 16px;
  color: rgb(241, 210, 41);
}
.btn_ig::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 4.5px;
  background: url("../../images/icon_ig.svg") no-repeat center/contain;
}
.btn_ig span {
  position: relative;
}
.btn_ig span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(241, 210, 41);
}/*# sourceMappingURL=all.css.map */